name: Build on Latest Ubuntu

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install SDL3 packages
        run: sudo apt install -y libsdl3-dev libsdl3-mixer-dev

      - name: Build Debug
        run: make bud

      - name: Build Release
        run: make bur